*{
    float: left;
    padding: 0;
    margin: 0;
    font-family: comic sans ms;
}
body{
    height: 100%;
}
.gamer{
    width: 100%;
    /*background: URL(images/лого.png);*/
    /*-webkit-background-size: cover;
    background-size: cover;*/
    background-image: url(images/dark_wood.png);
    position: relative;
    height: 23%;
}
#gamer1{
    box-shadow: 0px 3px 3px black;
}
#gamer2{
    box-shadow: 0px -3px 3px black;
}
#pole{
    height: 68.5%;
    width: 100%;
    float: initial;
    display: inline;
    overflow: scroll;
}
.box{
    width: 100%;
    height: 54%;

    /*background-image: URL(images/machi-koro-759x500.jpg);*/
/*
    -webkit-background-size: cover;
    background-size: cover;*/
    background-image: url(images/dark_wood.png);
}
.img{
    height: 247px;
    /*width: 180px;*/
    display: inline;
    z-index: 5;
}
.gamer .img{
    height: 100%;
    width: auto;
}
#pole .img{
    height: 50%;
    margin-left: 5px;
}
.imgbtn{
    width: 50%;
    margin-top: auto;
}
#btnhod{
    position: relative;
    top: 17%;
    margin-top: 70px;
    margin-bottom: 70px;
    height: 50%;
    width: 100%;
    border: none;
    background-image: url(images/wood_1.png);
}
#btnhod:hover{
    background-color: rgba(255, 255, 255, .3);
}
.cube{
    background-color: transparent;
    border: none;
    width: 150%;
}
.cube:hover{
    background-color: rgba(255, 255, 255, .3);
}
/*#btnhod img{
    width: 100%;
    height: 100%;
}*/
.font{
    font-size: 60px;
    font-family: comic sans ms;
    color: #f0f0f0;
}
.fontColor{
    color: #f0f0f0;
}
#shopCol-vo2 , #shopCol-vo1, #forestCol-vo2, #forestCol-vo1{
    position: relative;
    left: 0px;
}
#menu{
    background-image: url(images/wood_1.png);
    /*background-image: URL(images/machi-koro-759x500.jpg);
    -webkit-background-size: cover;
    background-size: cover;*/
    width: 3%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    box-shadow: 5px 0px 3px black;
    z-index: 2;
    overflow: hidden;
}
#game1{
    top: 0px;
    position: absolute;
}
#game2{
    position: absolute;
    bottom: 0px;
}
#all{
    position: absolute;
    left: 3%;
    width: 97%;
    height: 100%;
}
.z-index{
    z-index: 7;
    position: relative;
    right: 4%;
}

@media screen and (max-width: 1600px){
    #menu{
        width: 4%;
    }
    #all{
        width: 96%;
        left: 4%;
    }
    .z-index{
        right: 5%;
    }
    /*#pole, .box, .gamer{
        margin-right: 0px; 
    }*/
    /*.box , #pole{
        overflow: scroll;
    }*/
}
    @media screen and (max-width: 1260px){
        .box{
            overflow: scroll;
        }
        .gamer{
            overflow: scroll;
        }
        #pole{
            overflow: scroll;
        }
    }
@media screen and (max-width: 1000px){
    #menu{
        width: 6%;
    }
    #all{
        width: 94%;
        left: 6%;
    }
    .z-index{
        right: 7%;
    }
}
@media screen and (max-width: 720px){
    #menu{
        width: 9%;
    }
    #all{
        width: 91%;
        left: 9%;
    }
    .z-index{
        right: 9%;
    }
}
@media screen and (max-width: 480px){
    #menu{
        width: 11%;
    }
    #all{
        width: 89%;
        left: 11%;
    }
    .z-index{
        right: 15%;
    }
}
@media screen and (max-width: 360px){
    #menu{
        width: 13%;
    }
    #all{
        width: 87%;
        left: 13%;
    }
    .z-index{
        right: 21%;
    }
}
@media screen and (min-height: 900px){
    #btnhod{
        height: 35%;
        top: 27%;
    }
}